<a href="https://colab.research.google.com/github/JessicaWoods03/Comp411Assignments/blob/main/Homework5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. In the given data set, identify the number of missing values by column; treat the missing
values by 1) keeping the rows with valid values, or 2) ?lling the missing values in col1 by
most frequent number (implement both of them; you need strategy='most_frequent')

In [9]:
import pandas as pd
from io import StringIO
import numpy as np
csv_data = \
'''
col1,col2
,2.0
,
10.0,11.0
1, 3
1, 11
'''
df = pd.read_csv(StringIO(csv_data))
df

   col1  col2
0   NaN   2.0
1   NaN   NaN
2  10.0  11.0
3   1.0   3.0
4   1.0  11.0

In [10]:
 df.isnull().sum()

col1    2
col2    1
dtype: int64

In [11]:
df.values

array([[nan,  2.],
       [nan, nan],
       [10., 11.],
       [ 1.,  3.],
       [ 1., 11.]])

In [ ]:
# remove rows that contain missing values
df.dropna(axis=0) # axis=0 means by row; default
df.dropna()
df.dropna(axis=1)

In [ ]:
from sklearn.impute import SimpleImputer
imr = SimpleImputer(missing_values=np.nan, strategy='most_frequent') #most frequent
imr = imr.fit(df.values)
imputed_data = imr.transform(df.values)
imputed_data

2. Explain the transformer and estimator in sci-kit learn. What are the differences between
them?

Transformer: A Transformer is an algorithm which can transform one DataFrame into another DataFrame. E.g., an ML model is a Transformer which transforms DataFrame with features into a DataFrame with predictions. Estimator: An Estimator is an algorithm which can be fit on a DataFrame to produce a Transformer.

Differences is:

Transformer transforms the input data (X) in some ways.
Estimator predicts a new value (or values) (y) by using the input data (X).
3. In the given data set, generate the dummy variables for the categorical variables using onehot encoding; standardize the continuous variables.

In [38]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
np.random.seed(123)
df = pd.DataFrame(np.random.rand(10, 2),
 columns = ['col1', 'col2'])
sf = preprocessing.scale(df) ##standardizes the variables
df['col3'] = list(''.join(np.random.choice(list('abc')) for _ in range(len(df))))
print(sf)
print (df)

[[ 0.85137511 -0.77172075]
 [-1.18192049  0.42493074]
 [ 0.95095687 -0.15363214]
 [ 2.0822822   1.02744088]
 [-0.08183286 -0.29347528]
 [-0.67826343  1.22699138]
 [-0.26523672 -1.79366842]
 [-0.44071004  1.26736044]
 [-1.373984   -1.27121821]
 [ 0.13733337  0.33699135]]
       col1      col2 col3
0  0.696469  0.286139    a
1  0.226851  0.551315    b
2  0.719469  0.423106    a
3  0.980764  0.684830    b
4  0.480932  0.392118    a
5  0.343178  0.729050    a
6  0.438572  0.059678    a
7  0.398044  0.737995    c
8  0.182492  0.175452    b
9  0.531551  0.531828    b

In [36]:
size_mapping = {'a': 3,
 'b': 2,
 'c': 1}

df['col3'] = df['col3'].map(size_mapping)
df

       col1      col2  col3
0  0.696469  0.286139     3
1  0.226851  0.551315     2
2  0.719469  0.423106     3
3  0.980764  0.684830     2
4  0.480932  0.392118     3
5  0.343178  0.729050     3
6  0.438572  0.059678     3
7  0.398044  0.737995     1
8  0.182492  0.175452     2
9  0.531551  0.531828     2

In [40]:
X = df[['col1', 'col2', 'col3']].values
print(X)

[[0.6964691855978616 0.28613933495037946 'a']
 [0.2268514535642031 0.5513147690828912 'b']
 [0.7194689697855631 0.42310646012446096 'a']
 [0.9807641983846155 0.6848297385848633 'b']
 [0.48093190148436094 0.3921175181941505 'a']
 [0.3431780161508694 0.7290497073840416 'a']
 [0.4385722446796244 0.05967789660956835 'a']
 [0.3980442553304314 0.7379954057320357 'c']
 [0.18249173045349998 0.17545175614749253 'b']
 [0.5315513738418384 0.5318275870968661 'b']]

4. Assume col3 is the response variable, separate the original data set in #3 into 80% training
and 20% test.

In [65]:
from sklearn.model_selection import train_test_split
from sklearn import datasets
X1, y = df.iloc[:, 1:].values, df.iloc[:, 0].values 
X_train1, X_test1, y_train1, y_test1 = train_test_split(X1, y, test_size=0.2, random_state=1)

5. Load sci-kit learn's diabetes data set by load_diabetes(), pick the top 3 most discriminative
features using Random Forest.

In [63]:
from sklearn import datasets
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators=500,
 random_state=1)

diabetes = datasets.load_diabetes()
##print(diabetes)
X2 = diabetes.data
y2 = diabetes.target
##print(X2)
X_train1, X_test1, y_train1, y_test1 = train_test_split(X2, y2, test_size=0.2, random_state=1)
forest.fit(X_train1, y_train1)
importances = forest.feature_importances_
print(importances)
feature_names = ['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']
print(feature_names)

indices = np.argsort(importances)[::-1]
for f in range(X_train1.shape[1]):
 print("%2d) %-*s %f" % (f + 1, 30,
 feature_names[indices[f]],
 importances[indices[f]]))

[0.1113085  0.02704973 0.12324801 0.11205885 0.11313243 0.11363063
 0.10826241 0.05768598 0.11911372 0.11450975]
['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6']
 1) bmi                            0.123248
 2) s5                             0.119114
 3) s6                             0.114510
 4) s2                             0.113631
 5) s1                             0.113132
 6) bp                             0.112059
 7) age                            0.111308
 8) s3                             0.108262
 9) s4                             0.057686
10) sex                            0.027050